*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #009788 20%,
        #D6DBD7 20%
    );
}

.window{
    max-width: 1000px;
    margin-inline: auto;
    height: 600px;
}

.contacts{
    width: 30%;
}

.message{
    width: 70%;
}

.userName{
    background-color: #EAEAEA;
    gap: 0.2rem;
}

.userName img{
    width: 50px;
}

.icon{
    color: gray;
}

.silenceNotification{
    background-color: #8EDAFC;
}

.bell{
    color: aliceblue;
    font-size: 40px;
}

#new-message{
    font-size: 12px;
}

#desktop-notification{
    font-size: 10px;
    text-decoration: underline;
    color: gray;
}

.mycontact{
    border-bottom: 1px solid gray;
}

.mycontact img{
    width: 15%;
    height: 15%;
}

.mycontactName p{
    font-size: 12px;
}