*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #009788 20%,
        #D6DBD7 20%
    );
}

.window{
    max-width: 1000px;
    margin-inline: auto;
    height: 600px;
}

.userName{
    background-color: #EAEAEA;
    gap: 0.2rem;
}

.userName img{
    width: 50px;
}

.icon{
    color: gray;
}